.card-body {
    border-radius: 20px;
    background-color: grey;
    padding: 20px;
    color: #e0e0e0;

    .card-title {
        font-size: 21px;
    }
    
    .card-content {
        font-size: 15px;
    }
}