@import '~react-pro-sidebar/dist/scss/styles.scss';

.App {
  height: 100%;
  display: flex;
  position: relative;
  .side-bar-header {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 21px;
  }

  .main {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
