
.App {
  height: 100%;
  display: flex;
  position: relative;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-weight: bold;

  .main {
    margin-left: 90px;
    margin-right: 90px;
    width: 100%;
    display:flex;
    flex-direction: column;
  }

  .right-bar {
    background: #8ee3ef;
    position:fixed;
    right:0;
    min-width: 90px;
    height:100%;
    box-shadow: 3px 3px 10px grey;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
